{% load static %}
<html>
<head>
<meta charset="ISO-8859-1">
<title>Club de Sport [Toujourrs En Forme ]</title>
</head>
<body>
	<h1>Club de Sport [Toujourrs En Forme ]</h1>
	<table border="1">
		<tr>
			<td style="background-color: green; height: 200px;width: 100px"></td>
			<td style="background-color: blue; height: 200px;width: 100px"></td>
		</tr>

		<tr>
			<td style="background-color: yellow; height: 200px;width: 100px"></td>
			<td style="background-color: red; height: 200px;width: 100px"></td>
		</tr>
	</table>
	<a href="/inscription" >S'inscrire</a>
</body>
</html>